#midi-paper {
  width: 100%;
  height: 100%;
  cursor: none;
}

@font-face {
  font-family: 'Neusa Bold';
  src: url(https://cdn.glitch.com/1520e3d1-e09f-4c87-bd42-89b5fa497055%2FNeusa-Bold.woff?1543956951264);
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

/* Scale canvas with resize attribute to full size */
.paper {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.midi-bus {
  padding: 6px;
  font-size: 12px;
  z-index: 10;
}

.absolute {
  position: absolute;
}

.status {
  border: #999 2px solid;
  border-radius: 2px;
  color: #999;
  padding: 4px;
  margin: 4px;
  line-height: 2;
  cursor: pointer;
}

.status.active {
  border-color: green;
  color: green;
}

.status.error {
  border-color: red;
  color: red;
}

.presets {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  z-index: 10;
}

.preset {
  padding: 0.25em;
  margin: 0.25em;
  background-color: hsla(0, 0%, 100%, 0.4);
  opacity: 0.3;
  font-size: 0.8em;
  cursor: pointer;
}

.preset:hover {
  opacity: 0.5;
}

.preset.active {
  opacity: 0.6;
}
